.btnDropdown {
    @apply flex;
    @apply w-40;
    @apply items-center;
    @apply bg-slate-900;
    @apply text-gray-400;
    @apply rounded;
    @apply px-4;
    @apply py-1;
    @apply mx-4;

    :hover {
        @apply bg-slate-700;
    }

    span:nth-child(1) {
        @apply text-lg;
        @apply mr-2;
    }

    span:nth-child(2) {
        @apply text-base;

    }

    span:nth-child(3) {
        @apply text-lg;
        @apply ml-2
    }
}

.dropdownBox {
    button {
        @apply text-white;
        @apply text-start;
        @apply bg-gray-700;
        @apply font-medium;
        @apply text-sm;
        @apply w-full;
        @apply p-2;
        @apply rounded-md;

        &:hover {
            @apply bg-gray-900;

        }

        &:focus {
            @apply outline-none;
            @apply ring-4;
            @apply ring-gray-700
        }
    }

    span {
        @apply p-0;
        @apply m-0;
    }

    ul {
        @apply w-40;
    }

    li {
        @apply flex;
        @apply w-full;
        @apply m-0;
        @apply p-0;

        button {
            @apply m-0;
            @apply px-4;
            @apply py-2;
            @apply text-yellow-300;
        }
    }

    ul span {
        @apply flex;
        @apply w-full;
    }
}

.boxSelect {
    @apply relative;
    /* @apply lg: max-w-sm; */

    select {
        @apply flex;
        @apply items-center;
        @apply bg-slate-900;
        @apply text-gray-400;
        @apply rounded-full;
        @apply px-4;
        @apply pt-1;
        @apply pb-2;
        @apply mx-4;

        :hover {
            @apply bg-slate-700;
        }
    }
}