.messageError {
    @apply border-4;
    @apply border-red-500;
    @apply p-2;
    @apply leading-none;
    @apply text-black;
    @apply rounded-xl;
    span:nth-child(1){
        @apply text-sm;
        @apply mr-3;
    }
    span:nth-child(2){
        @apply italic;
        @apply text-xs;
    }
}
.messageSuccess {
    @apply border-4;
    @apply border-green-500;
    @apply p-2;
    @apply leading-none;
    @apply text-black;
    @apply rounded-xl;
    span:nth-child(1){
        @apply text-sm;
        @apply mr-3;
    }
    span:nth-child(2){
        @apply italic;
        @apply text-xs;
    }
}
.messageEmpty {
    @apply border-4;
    @apply border-yellow-200;
    @apply bg-white;
    @apply p-2;
    @apply leading-none;
    @apply text-black;
    @apply rounded-xl;
    span:nth-child(1){
        @apply text-xs;
        @apply mr-1;
    }
    span:nth-child(2){
        @apply text-xs;
    }
}

.navMenuBtn{
   @apply text-start;
   @apply bg-slate-900;
   @apply text-gray-400;
   @apply px-4;
   @apply pt-1;
   @apply pb-2;
   @apply hover:bg-slate-700;
   @apply w-full;
}

.formBox {
    @apply flex;
    @apply flex-col;
    @apply w-96;
    @apply m-auto;
    @apply mt-4;
    @apply justify-center;

    form {
        @apply bg-gray-100;
        @apply rounded;
        @apply mx-auto;
        @apply p-2;
        @apply w-full;
    }
}

.formContent {
    @apply bg-white;
    @apply shadow-md;
    @apply rounded;
    @apply px-8;
    @apply pt-6;
    @apply pb-8;
    @apply mb-4;
    @apply mx-auto;
    label{
        @apply mt-4;
    }
}

.formBtnBox {
    @apply flex;
    @apply justify-end;
    @apply items-center;
}

.formBtn{
    @apply bg-slate-700;
    @apply text-white uppercase;
    @apply font-light;
    @apply text-center;
    @apply mt-2;
    @apply py-2;
    @apply px-4;
    @apply rounded;

    :hover {
        @apply bg-slate-500;

    }

    :focus {
        @apply outline-none;
        @apply shadow-slate-900;
    }
}

.formBtnDelete {
    @apply bg-red-600;
    @apply text-gray-400;
    @apply w-full;
    @apply px-4;
    @apply pt-1;
    @apply pb-2;

    :hover {
        @apply bg-red-700;
    }

    button {
        @apply flex;
        @apply justify-end;
        @apply bg-red-600;
        @apply rounded;
        @apply mx-auto;
        @apply py-4;
        @apply px-2;
        @apply my-1;
        @apply cursor-no-drop;
    }
}